<h1 style="font-size: 5vm;">Cart</h1>

<div style="width: 60%; float: left;">

<!-- ngFor will needs to be added to this div
fields are hard coded to view the results and will need to be updated -->

<div class="cart" style="margin-bottom: 10px;" *ngFor="let book of books">
    <div style="width: 20%; float: left;">
        <img style="width: 90%;" src="{{ book.image }}" alt="book cover art">
    </div>
    <div style="width: 80%; float: left; padding: 10px;">
        <form action="">
            <input type="hidden" value="{{ book.isbn13 }}">
            <input type="text" disabled value="{{ book.title }}">
            <input type="text" disabled value="{{ book.price }}">
            <br>
            <br>
            <label for="">Quantity:</label>
            <input type="number" min="1" value="{{ book.quantity }}" style="width: 20%;">
            <a href="#" class="btn btn-outline-dark">Update</a>
            <a href="#" class="btn btn-outline-dark">Remove</a>
        </form>
    </div>
</div>

<!--  -->
<!-- <div class="cart" style="margin-bottom: 10px;">
    <div style="width: 20%; float: left;">
        <img style="width: 90%;" src="https://itbook.store/img/books/9780321832740.png" alt="book cover art">
    </div>
    <div style="width: 80%; float: left; padding: 10px;">
        <form action="">
            <input type="hidden" value="9780321832740">
            <input type="text" disabled value="Learning JavaScript">
            <input type="text" disabled value="$8.99">
            <br>
            <br>
            <label for="">Quantity:</label>
            <input type="number" min="1" value="1" style="width: 20%;">
            <a href="#" class="btn btn-outline-dark">Update</a>
            <a href="#" class="btn btn-outline-dark">Remove</a>
        </form>
    </div>
</div> -->


</div>


<div class="cart" style="width: 20%;">
    <br>
    <label for="">Total Items</label>
    <input style="width: 90%;" disabled type="number">
    <label for="">Subtotal</label>
    <input style="width: 90%;" disabled type="number">
    <label for="">Taxes</label>
    <input style="width: 90%;" disabled type="number">
    <label for="">Total</label>
    <input style="width: 90%;" disabled type="number">

    <a id="login-btn" class="btn" style="background-color: #003155; color: #7ecde3;" type="submit">Checkout</a>
    <br>
    <br>
</div>