<h1 style="font-size: 5vm;">Featured Books</h1>
<div class="container">
    <div class="row">
      <div class="col-sm-4" *ngFor= "let book of books.books">
        <div class="card" style=" background-color: #7ecde3;">
            <img src="{{ book.image }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h5 class="card-title">{{ book.price }}</h5>
            <p class="card-text">{{ book.subtitle }}</p>
            <form action="">
              <input type="number" min="1" name="quantity" style="width: 30%;">
              <label for="quantity" style="background-color: #7ecde3; color: #003155;">Quantity</label>
              <input type="hidden" name="isbn" value="{{ book.isbn }}">
              <input type="hidden" name="title" value="{{ book.title }}">
              <input type="hidden" name="price" value="{{ book.price }}">
          </form>
            <button class="btn btn-outline-dark" (click)="onClick(book)">Details</button>
            <a href="#" class="btn btn-outline-dark" >Add to Cart</a>
        </div>
     </div>
    </div>
</div>
