<h1>Contact Us</h1>
<h3>This is a faux store has been developed by:</h3>
<table class="table table-striped table-bordered" style="margin: auto; background-color: #7ecde3; width: 80%;">
    <thead>
        <td>
           <h2>Developer</h2>
        </td>
        <td>
            <h2>Email</h2>
        </td>
    </thead>
    <tbody>
        <tr>
            <td>
                <h3>Syeda Sultana</h3>
            </td>
            <td>
                <h4>syedasiddiqua.sultana@revature.net</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Simon Irvin-Vitela</h3>
            </td>
            <td>
                <h4>simon.irvinvitela@revature.net</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Mohamad Elshalati</h3>
            </td>
            <td>
                <h4>mohamad.elshalati@revature.net</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Christy Catlin </h3>
            </td>
            <td>
                <h4>christy.catlin@revature.net</h4>
            </td>
        </tr>
    </tbody>
</table>