
<br>
<div style="background-color: #7ecde3; width: 50%; margin: auto;">
   <br>
    <h1 style="font-size: 5vm;">Register</h1>
  
    <form >
        
        <label class="pwLabel">Email</label><br>
        <input class= "form-cnotrol" type="text" name="username" id="username" #username required><br>
   
        <label class="pwLabel">Password</label><br>
        <input type="password" name="password" id="psw" #password required><br>
        <label class="pwLabel">First Name</label><br>
        <input  type="text" name="username" id="username" #username required><br>
        <br>
        <label class="pwLabel">Last Name</label><br>
        <input  type="text" name="username" id="username" #username required><br>
        <br>
        
        <button  id="login-btn" class="btn" style="background-color: #003155; color: #7ecde3;" type="submit" >Register</button>
    </form>
    <br>
</div>
