<div class="side" style="float: right;">
    <br>
    <div style="margin: auto; width: 80%;">
        <a class="button" href="">
            <img style="width: 100%;" src="/assets/img/facebook.jpg" alt="" href="">
        </a>
        <a class="button" href="">
            <img style="width: 100%;" src="/assets/img/Twitter-Button.png" alt="">
        </a>
        <a class="button" href="">
            <img style="width: 100%;" src="/assets/img/linkedin-button.png" alt="">
        </a>
        <a class="button" href="">
            <img style="width: 100%;" src="/assets/img/Follow-us-on-Pinterest.png" alt="">
        </a>
    </div>
</div>