<div class="container" text-center >
    <div class="row text-center" style="margin: 15px;">
    <div class="card mb-3" style="max-width: 540px; margin: 15px; background-color: #7ecde3;" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/logo2.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Order History! </h3>
              <p class="card-text"><strong>Your order has been successfully placed.</strong></p>
              <p class="card-text"><small >Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
