<br>
<br>
<div style="background-color: #7ecde3; width: 50%; margin: auto;">
   <br>
    <h1 style="font-size: 5vm;">Login</h1>
    <form (submit)="onSubmit(username.value, password.value);" >
        
        <label class="">username</label><br>
        <input  type="text" name="username" id="username" #username required><br>
        <label class="pwLabel">Password</label><br>
        <input type="password" name="password" id="psw" #password required><br>
        <button id="login-btn" class="btn" style="background-color: #003155; color: #7ecde3;" 
        type="submit" >Sign in</button>
    </form>
    <br>
</div>
