<div class="side" style="float: left;">
    <div style="width: 90%; margin: auto;">
        <br>
        <form>
            <input class="form-control me-2" type="search" placeholder="Search by Title" aria-label="Title">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
        <br>
        <form>
            <input class="form-control me-2" type="search" placeholder="Search by Author" aria-label="Author">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
        <br>
        <form>
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="range" id="0to25">
                <label class="form-check-label" for="0to25">
                    Min $0.00 to Max $25.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="range" id="25to50">
                <label class="form-check-label" for="25to50">
                    Min $25.00 to Max $50.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="range" id="50to75">
                <label class="form-check-label" for="50to75">
                    Min $50.00 to Max $75.00
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="range" id="75to100">
                <label class="form-check-label" for="75to100">
                    Min $75.00 to Max $100.00
                </label>
            </div> -->

            <table style="margin: auto;">
                <tr>
                    <a href="#" style="color: #003155;">Min $0.00 to Max $25.00</a>
                </tr>
                <tr>
                    <a href="#" style="color: #003155;"> Min $25.00 to Max $50.00</a>
                </tr>
                <tr>
                    <a href="#" style="color: #003155;"> Min $50.00 to Max $75.00</a>
                </tr>
                <tr>
                    <a href="#" style="color: #003155;"> Min $75.00 to Max $100.00</a>
                </tr>
            </table>


            <table>
                <td>
                    <input class="form-control me-2" type="search" placeholder="Min Cost" aria-label="Minimum">
                </td>
                <td>
                    <input class="form-control me-2" type="search" placeholder="Max Cost" aria-label="Maximum">
                </td>
            </table>
            <button class="btn btn-outline-dark" type="submit">Filter by Price</button>
        </form>
        <br>
    </div>
</div>